Repository paritytech/substrate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-prometheus-alerting-rules, test-wasmer-sandbox, deploy-prometheus-alerting-rules

Path conditions:
  test-prometheus-alerting-rules: any of: .gitlab-ci.yml, .maintain/monitoring/**/*
  test-wasmer-sandbox: any of: client/executor/**/*, frame/contracts/**/*, primitives/sandbox/**/*
  deploy-prometheus-alerting-rules: any of: .gitlab-ci.yml, .maintain/monitoring/**/*

Docs
  frame/conviction-voting/src/conviction.rs
  frame/conviction-voting/src/lib.rs
  frame/conviction-voting/src/tests.rs
  frame/conviction-voting/src/types.rs
  frame/conviction-voting/src/vote.rs
  frame/conviction-voting/src/weights.rs
  frame/referenda/src/branch.rs
  frame/referenda/src/lib.rs
  frame/referenda/src/mock.rs
  frame/referenda/src/tests.rs
  frame/referenda/src/types.rs
Due: none

Formatting
  frame/conviction-voting/src/benchmarking.rs
  frame/conviction-voting/src/lib.rs
  frame/conviction-voting/src/tests.rs
  frame/conviction-voting/src/types.rs
  frame/conviction-voting/src/vote.rs
  frame/referenda/src/branch.rs
  frame/referenda/src/lib.rs
  frame/support/src/traits.rs
  frame/support/src/traits/tokens/currency.rs
  frame/support/src/traits/voting.rs
Due: none

Remove unneeded warning
  frame/scheduler/src/lib.rs
Due: none

Fix UI tests
  frame/support/test/tests/construct_runtime_ui/no_std_genesis_config.stderr
  frame/support/test/tests/construct_runtime_ui/undefined_call_part.stderr
  frame/support/test/tests/construct_runtime_ui/undefined_event_part.stderr
  frame/support/test/tests/construct_runtime_ui/undefined_genesis_config_part.stderr
  frame/support/test/tests/construct_runtime_ui/undefined_inherent_part.stderr
  frame/support/test/tests/construct_runtime_ui/undefined_origin_part.stderr
  frame/support/test/tests/construct_runtime_ui/undefined_validate_unsigned_part.stderr
Due: none

add into function for PrefixIterator (#10614)
  frame/support/src/storage/mod.rs
  frame/support/src/storage/types/counted_map.rs
Due: none

code-substitute: Switch from `block_hash` to `block_number` (#10600)
  client/chain-spec/src/chain_spec.rs
  client/service/src/builder.rs
  client/service/src/client/client.rs
  client/service/src/client/wasm_substitutes.rs
Due: none

pr fixes
  client/consensus/manual-seal/src/consensus/timestamp.rs
  client/consensus/manual-seal/src/error.rs
Due: none

reset events before apply runtime upgrade
  frame/aura/src/tests.rs
  frame/babe/src/mock.rs
  frame/executive/src/lib.rs
  frame/merkle-mountain-range/src/tests.rs
  frame/randomness-collective-flip/src/lib.rs
  frame/system/src/lib.rs
  frame/system/src/tests.rs
Due: none

refactor PrefixIterator usage
  frame/support/src/storage/types/counted_double_map.rs
Due: none

fix logging macros + snapshot hash system
  frame/election-provider-multi-block/src/helpers.rs
  frame/election-provider-multi-block/src/lib.rs
  frame/election-provider-multi-block/src/unsigned/miner.rs
  frame/election-provider-multi-block/src/unsigned/mod.rs
  frame/election-provider-multi-block/src/verifier/mod.rs
  frame/election-provider-multi-block/src/verifier/pallet.rs
Due: none

fix tests
  frame/authorship/src/lib.rs
  frame/babe/src/tests.rs
  frame/contracts/src/tests.rs
  frame/executive/src/lib.rs
  frame/grandpa/src/mock.rs
  frame/merkle-mountain-range/src/tests.rs
  frame/system/src/lib.rs
Due: test-wasmer-sandbox

add test
  frame/executive/src/lib.rs
Due: none

update comment
  frame/system/src/lib.rs
Due: none

Update frame/system/src/lib.rs
  frame/system/src/lib.rs
Due: none

Add test
  client/consensus/manual-seal/src/lib.rs
Due: none

Added documentation
  .maintain/rustdocs-release.sh
  docs/rustdocs-release.md
Due: none

Manual Seal: Calculate the block's post hash (#10498)
  client/consensus/manual-seal/src/lib.rs
  client/consensus/manual-seal/src/seal_block.rs
Due: none

[Do not merge] pipeline chores
  .gitlab-ci.yml
Due: test-prometheus-alerting-rules, deploy-prometheus-alerting-rules

Fix CI build
  frame/support/src/storage/types/counted_double_map.rs
Due: none

disable condition publish-rustdoc
  .gitlab-ci.yml
Due: test-prometheus-alerting-rules, deploy-prometheus-alerting-rules

Adds AuraConsensusDataProvider (#10503)
  Cargo.lock
  Cargo.toml
  bin/node/test-runner-example/Cargo.toml
  bin/node/test-runner-example/src/lib.rs
  client/consensus/aura/src/lib.rs
  client/consensus/manual-seal/Cargo.toml
  client/consensus/manual-seal/src/consensus.rs
  client/consensus/manual-seal/src/consensus/aura.rs
  client/consensus/manual-seal/src/consensus/babe.rs
  client/consensus/manual-seal/src/consensus/timestamp.rs
  client/consensus/manual-seal/src/error.rs
  test-utils/test-runner/Cargo.toml
  test-utils/test-runner/src/client.rs
  test-utils/test-runner/src/host_functions.rs
  test-utils/test-runner/src/lib.rs
  test-utils/test-runner/src/node.rs
  test-utils/test-runner/src/utils.rs
Due: none

add a blueprint of how defensive traits could look like
  frame/support/src/traits/misc.rs
Due: none

add something for arithmetic as well
  frame/balances/src/lib.rs
  frame/democracy/src/lib.rs
  frame/election-provider-multi-phase/src/signed.rs
  frame/support/src/traits.rs
  frame/support/src/traits/misc.rs
Due: none

revert rules
  .gitlab-ci.yml
Due: test-prometheus-alerting-rules, deploy-prometheus-alerting-rules

Addressing @xgreenx's comments
  frame/contracts/src/benchmarking/mod.rs
  frame/contracts/src/wasm/runtime.rs
Due: test-wasmer-sandbox

frame/bench-cli: fix log formatting
  utils/frame/benchmarking-cli/src/command.rs
Due: none

Fix test-linux-stable-int
  frame/contracts/src/tests.rs
  frame/contracts/src/wasm/mod.rs
  frame/contracts/src/wasm/runtime.rs
Due: test-wasmer-sandbox

review: use /// comments on private functions
  frame/lottery/src/lib.rs
Due: none

review: use with_bounded_capacity
  frame/lottery/src/lib.rs
Due: none

.maintain/monitoring: Update substrate prometheus alert rules
  .maintain/monitoring/alerting-rules/alerting-rule-tests.yaml
  .maintain/monitoring/alerting-rules/alerting-rules.yaml
Due: test-prometheus-alerting-rules, deploy-prometheus-alerting-rules

.maintain/monitoring: Update substrate Grafana dashboards
  .maintain/monitoring/grafana-dashboards/substrate-networking.json
  .maintain/monitoring/grafana-dashboards/substrate-service-tasks.json
Due: test-prometheus-alerting-rules, deploy-prometheus-alerting-rules

Assorted refactorings
  frame/democracy/src/lib.rs
  frame/democracy/src/vote.rs
Due: none

Reduce the execution time of some tests (#10377)
  bin/node/runtime/src/lib.rs
  frame/babe/src/mock.rs
  frame/election-provider-multi-phase/src/lib.rs
  frame/election-provider-multi-phase/src/mock.rs
  frame/grandpa/src/mock.rs
  frame/offences/benchmarking/src/mock.rs
  frame/session/benchmarking/src/mock.rs
  frame/staking/fuzzer/src/mock.rs
  frame/staking/src/benchmarking.rs
  frame/staking/src/lib.rs
  frame/staking/src/mock.rs
  frame/staking/src/pallet/mod.rs
Due: none

ignoring errors and some fix (#10344)
  client/network/src/block_request_handler.rs
  client/network/src/light_client_requests/handler.rs
  client/network/src/service.rs
  client/network/src/state_request_handler.rs
  client/service/src/client/mod.rs
  utils/frame/try-runtime/cli/src/lib.rs
Due: none

Tips Benchmarking to be Runtime Agnostic (#10368)
  frame/bounties/src/benchmarking.rs
  frame/bounties/src/lib.rs
  frame/tips/src/benchmarking.rs
  frame/tips/src/lib.rs
Due: none

poc logic
  frame/contracts/src/exec.rs
  frame/contracts/src/wasm/runtime.rs
Due: test-wasmer-sandbox

Remove the `bench-test-full-crypto-feature` job
  .gitlab-ci.yml
Due: test-prometheus-alerting-rules, deploy-prometheus-alerting-rules

Remove the relevant GHA job
  .github/workflows/bench_gh_gl.yaml
Due: none

delete process.json
  Process.json
Due: none
