Repository paritytech/substrate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-prometheus-alerting-rules, test-wasmer-sandbox, deploy-prometheus-alerting-rules

Path conditions:
  test-prometheus-alerting-rules: any of: .gitlab-ci.yml, .maintain/monitoring/**/*
  test-wasmer-sandbox: any of: client/executor/**/*, frame/contracts/**/*, primitives/sandbox/**/*
  deploy-prometheus-alerting-rules: any of: .gitlab-ci.yml, .maintain/monitoring/**/*

Support conversion from `Extrinsic` into `OpaqueExtrinsic`
  primitives/runtime/src/lib.rs
Due: none

remove option
  frame/nomination-pools/src/lib.rs
  frame/nomination-pools/src/tests.rs
  frame/support/src/lib.rs
Due: none

Reciprocal curve
  frame/referenda/src/types.rs
  primitives/arithmetic/src/per_things.rs
Due: none

add sort & try_append to bounded_vec
  frame/support/src/storage/bounded_vec.rs
Due: none

remove unneeded change
  frame/identity/src/lib.rs
Due: none

add has_identity
  frame/identity/src/lib.rs
  frame/identity/src/tests.rs
  frame/identity/src/types.rs
Due: none

Removed not required 'as_str' for 'ExecutionStrategy' option
  client/cli/src/arg_enums.rs
Due: none

Normalization of CLI options format (CamelCase => kebab-case) (#11194)
  client/cli/src/arg_enums.rs
  client/cli/src/commands/run_cmd.rs
  client/cli/src/params/mod.rs
  client/cli/src/params/network_params.rs
  client/cli/src/params/node_key_params.rs
  client/cli/src/params/offchain_worker_params.rs
  client/cli/src/params/shared_params.rs
  utils/frame/try-runtime/cli/src/lib.rs
Due: none

ci image production
  .gitlab-ci.yml
Due: test-prometheus-alerting-rules, deploy-prometheus-alerting-rules

add sort & try_append to bounded_vec (#11196)
  frame/support/src/storage/bounded_vec.rs
Due: none

Updated docs for method `set_payee` & `set_controller` (#11192)
  frame/staking/src/pallet/mod.rs
Due: none

Update frame/identity/src/lib.rs
  frame/identity/src/lib.rs
Due: none

Prepare for rust stable 1.60 (#11138)
  .gitlab-ci.yml
  .maintain/update-rust-stable.sh
  bin/node/cli/benches/transaction_pool.rs
  client/network/src/service.rs
  client/offchain/src/lib.rs
  client/service/src/client/call_executor.rs
  client/service/src/client/wasm_override.rs
  docs/CONTRIBUTING.adoc
  frame/election-provider-support/solution-type/src/lib.rs
  frame/support/test/tests/construct_runtime_ui.rs
  frame/support/test/tests/construct_runtime_ui/no_std_genesis_config.stderr
  frame/support/test/tests/construct_runtime_ui/undefined_genesis_config_part.stderr
  frame/support/test/tests/decl_module_ui.rs
  frame/support/test/tests/decl_storage_ui.rs
  frame/support/test/tests/derive_no_bound_ui.rs
  frame/support/test/tests/derive_no_bound_ui/clone.stderr
  frame/support/test/tests/derive_no_bound_ui/default.stderr
  frame/support/test/tests/pallet_ui.rs
  frame/support/test/tests/pallet_ui/call_argument_invalid_bound.stderr
  frame/support/test/tests/pallet_ui/call_argument_invalid_bound_2.stderr
  frame/support/test/tests/pallet_ui/error_does_not_derive_pallet_error.stderr
  frame/support/test/tests/pallet_ui/event_field_not_member.stderr
  frame/support/test/tests/pallet_ui/storage_ensure_span_are_ok_on_wrong_gen.stderr
  frame/support/test/tests/pallet_ui/storage_ensure_span_are_ok_on_wrong_gen_unnamed.stderr
  frame/support/test/tests/pallet_ui/storage_info_unsatisfied.stderr
  frame/support/test/tests/pallet_ui/storage_info_unsatisfied_nmap.stderr
  primitives/api/test/tests/trybuild.rs
  primitives/api/test/tests/ui/changed_in_no_default_method.stderr
  primitives/api/test/tests/ui/impl_incorrect_method_signature.stderr
  primitives/api/test/tests/ui/mock_only_self_reference.stderr
  primitives/api/test/tests/ui/type_reference_in_impl_runtime_apis_call.stderr
  primitives/runtime-interface/tests/ui.rs
  primitives/state-machine/src/in_memory_backend.rs
  primitives/state-machine/src/trie_backend_essence.rs
  primitives/version/src/embed.rs
  utils/frame/remote-externalities/src/lib.rs
Due: test-prometheus-alerting-rules, deploy-prometheus-alerting-rules

update
  frame/identity/src/types.rs
Due: none

Add new hardware and software metrics (#11062)
  Cargo.lock
  Cargo.toml
  bin/node/cli/Cargo.toml
  bin/node/cli/benches/block_production.rs
  bin/node/cli/benches/transaction_pool.rs
  bin/node/cli/src/chain_spec.rs
  bin/node/cli/src/cli.rs
  bin/node/cli/src/command.rs
  bin/node/cli/src/service.rs
  bin/node/cli/tests/check_block_works.rs
  bin/node/cli/tests/export_import_flow.rs
  bin/node/cli/tests/inspect_works.rs
  bin/node/cli/tests/purge_chain_works.rs
  bin/node/cli/tests/running_the_node_and_interrupt.rs
  bin/node/cli/tests/telemetry.rs
  bin/node/cli/tests/temp_base_path_works.rs
  bin/node/cli/tests/version.rs
  client/cli/src/lib.rs
  client/service/Cargo.toml
  client/service/src/builder.rs
  client/sysinfo/Cargo.toml
  client/sysinfo/README.md
  client/sysinfo/build.rs
  client/sysinfo/src/lib.rs
  client/sysinfo/src/sysinfo.rs
  client/sysinfo/src/sysinfo_linux.rs
  client/telemetry/src/lib.rs
  client/telemetry/src/node.rs
  utils/build-script-utils/src/version.rs
Due: none

Allow to set collection's owner during creation. Store collection's creator separately
  frame/uniques-v2/src/lib.rs
  frame/uniques-v2/src/tests.rs
  frame/uniques-v2/src/types.rs
  frame/uniques-v2/src/user_features/collection_crud.rs
Due: none

Remove redundant associated function
  frame/authorship/src/lib.rs
  frame/bags-list/src/migrations.rs
  frame/bounties/src/migrations/v4.rs
  frame/collective/src/migrations/v4.rs
  frame/contracts/src/exec.rs
  frame/contracts/src/migration.rs
  frame/elections-phragmen/src/migrations/v3.rs
  frame/elections-phragmen/src/migrations/v4.rs
  frame/examples/basic/src/lib.rs
  frame/grandpa/src/migrations/v4.rs
  frame/membership/src/migrations/v4.rs
  frame/session/src/migrations/v1.rs
  frame/support/src/migrations.rs
  frame/support/src/traits/hooks.rs
  frame/support/src/weights/weight_v2.rs
  frame/tips/src/migrations/v4.rs
Due: test-wasmer-sandbox

Fix sudo weight annotation
  frame/sudo/src/lib.rs
Due: none

trim ci
  .gitlab-ci.yml
Due: test-prometheus-alerting-rules, deploy-prometheus-alerting-rules

Use sc-sysinfo
  utils/frame/benchmarking-cli/Cargo.toml
  utils/frame/benchmarking-cli/src/machine/mod.rs
Due: none

Fix test compilation
  frame/collective/src/tests.rs
  frame/contracts/src/gas.rs
  frame/state-trie-migration/src/lib.rs
Due: test-wasmer-sandbox

beefy-mmr: bring back mmr root from header digest
  client/beefy/src/tests.rs
  client/beefy/src/worker.rs
  frame/beefy-mmr/src/lib.rs
  frame/beefy-mmr/src/mock.rs
  frame/beefy-mmr/src/tests.rs
  frame/merkle-mountain-range/src/lib.rs
Due: none

Add --no-hardware-benchmarks
  bin/node/cli/tests/benchmark_block_works.rs
  bin/node/cli/tests/benchmark_machine_works.rs
  bin/node/cli/tests/benchmark_overhead_works.rs
  bin/node/cli/tests/benchmark_storage_works.rs
  bin/node/cli/tests/build_spec_works.rs
  bin/node/cli/tests/check_block_works.rs
  bin/node/cli/tests/export_import_flow.rs
  bin/node/cli/tests/inspect_works.rs
  bin/node/cli/tests/purge_chain_works.rs
  bin/node/cli/tests/running_the_node_and_interrupt.rs
Due: none

Lockfile
  Cargo.lock
Due: none

Do not create components if not needed
  bin/node-template/node/src/command.rs
  bin/node/cli/src/command.rs
  utils/frame/benchmarking-cli/src/machine/mod.rs
Due: none

Fix tests
  bin/node/cli/tests/benchmark_overhead_works.rs
  bin/node/cli/tests/build_spec_works.rs
  bin/node/cli/tests/check_block_works.rs
Due: none

Tests for reciprical and rounding in PerThings
  Cargo.lock
  frame/referenda/Cargo.toml
  frame/referenda/src/types.rs
  primitives/arithmetic/src/lib.rs
  primitives/arithmetic/src/per_things.rs
Due: none

fmt
  frame/elections-phragmen/src/migrations/v3.rs
  frame/elections-phragmen/src/migrations/v4.rs
  frame/grandpa/src/migrations/v4.rs
  frame/support/src/weights.rs
  frame/system/src/extensions/check_weight.rs
  frame/system/src/tests.rs
  frame/transaction-payment/src/lib.rs
  frame/utility/src/lib.rs
Due: none

on_initialize -> on_idle
  frame/contracts/src/lib.rs
Due: test-wasmer-sandbox

use remaining_weight info
  frame/contracts/src/lib.rs
Due: test-wasmer-sandbox

Fix the way we set metadata
  frame/uniques-v2/src/general_features/metadata.rs
Due: none

Rename CountForCollections to CollectionNextId
  frame/uniques-v2/src/lib.rs
  frame/uniques-v2/src/user_features/collection_crud.rs
Due: none

Revert "Add --no-hardware-benchmarks"
  bin/node/cli/tests/benchmark_block_works.rs
  bin/node/cli/tests/benchmark_machine_works.rs
  bin/node/cli/tests/benchmark_overhead_works.rs
  bin/node/cli/tests/benchmark_storage_works.rs
  bin/node/cli/tests/build_spec_works.rs
  bin/node/cli/tests/check_block_works.rs
  bin/node/cli/tests/export_import_flow.rs
  bin/node/cli/tests/inspect_works.rs
  bin/node/cli/tests/purge_chain_works.rs
  bin/node/cli/tests/running_the_node_and_interrupt.rs
Due: none

Tests for destroy_collection() method
  frame/uniques-v2/src/lib.rs
  frame/uniques-v2/src/tests.rs
Due: none

no weight_limit for on_idle
  frame/contracts/src/lib.rs
Due: test-wasmer-sandbox

call on_idle in tests
  frame/contracts/src/tests.rs
Due: test-wasmer-sandbox

Cover transfer_collection_ownership() with test
  frame/uniques-v2/src/tests.rs
Due: none

attempt to fix tests
  frame/contracts/src/tests.rs
Due: test-wasmer-sandbox

Update frame/support/src/crypto/ecdsa.rs
  frame/support/src/crypto/ecdsa.rs
Due: none
