Repository paritytech/substrate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-prometheus-alerting-rules, test-wasmer-sandbox, deploy-prometheus-alerting-rules

test-prometheus-alerting-rules:
  retry:
    max: 2
    when:
    - runner_system_failure
    - unknown_failure
    - api_failure
  interruptible: true
  tags:
  - kubernetes-parity-build
  stage: check
  image: paritytech/tools:latest
  script:
  - promtool check rules .maintain/monitoring/alerting-rules/alerting-rules.yaml
  ...

test-wasmer-sandbox:
  image: ${CI_IMAGE}
  before_script:
  - - rustup show
    - cargo --version
    - rustup +nightly show
    - cargo +nightly --version
    - sccache -s
  retry:
    max: 2
    when:
    - runner_system_failure
    - unknown_failure
    - api_failure
  interruptible: true
  tags:
  - linux-docker
  stage: test
  variables:
  ...

deploy-prometheus-alerting-rules:
  stage: deploy
  needs:
  - job: test-prometheus-alerting-rules
    artifacts: false
  allow_failure: true
  trigger:
    project: parity/infrastructure/cloud-infra
  variables:
    SUBSTRATE_CI_COMMIT_NAME: ${CI_COMMIT_REF_NAME}
    SUBSTRATE_CI_COMMIT_REF: ${CI_COMMIT_SHORT_SHA}
  ...

fix TryBuild tests
  frame/support/test/tests/pallet_ui/storage_ensure_span_are_ok_on_wrong_gen.stderr
  frame/support/test/tests/pallet_ui/storage_ensure_span_are_ok_on_wrong_gen_unnamed.stderr
Due: none

Revert "fix TryBuild tests"
  frame/support/test/tests/pallet_ui/storage_ensure_span_are_ok_on_wrong_gen.stderr
  frame/support/test/tests/pallet_ui/storage_ensure_span_are_ok_on_wrong_gen_unnamed.stderr
Due: none

Update wasmtime to 0.33.0 (#10674)
  Cargo.lock
  client/executor/wasmtime/Cargo.toml
  client/executor/wasmtime/src/runtime.rs
  client/executor/wasmtime/src/tests.rs
  primitives/wasm-interface/Cargo.toml
Due: test-wasmer-sandbox

Update `wasmtime` from 0.31.0 to 0.33.0
  Cargo.lock
  client/executor/wasmtime/Cargo.toml
  primitives/wasm-interface/Cargo.toml
Due: test-wasmer-sandbox

add session boundary to beefy api
  client/beefy/src/lib.rs
  client/beefy/src/worker.rs
  frame/session/src/lib.rs
  primitives/beefy/src/lib.rs
  primitives/session/src/lib.rs
Due: none

minor fix
  Cargo.lock
  client/beefy/Cargo.toml
Due: none

remove contains check and made it an equals check
  utils/frame/benchmarking-cli/src/command.rs
Due: none

Switch from `pwasm-utils` to `wasm-instrument` (#10680)
  Cargo.lock
  client/executor/common/Cargo.toml
  client/executor/common/src/runtime_blob/data_segments_snapshot.rs
  client/executor/common/src/runtime_blob/runtime_blob.rs
  frame/contracts/Cargo.toml
  frame/contracts/src/benchmarking/code.rs
  frame/contracts/src/benchmarking/mod.rs
  frame/contracts/src/schedule.rs
  frame/contracts/src/wasm/env_def/macros.rs
  frame/contracts/src/wasm/env_def/mod.rs
  frame/contracts/src/wasm/prepare.rs
  frame/contracts/src/wasm/runtime.rs
Due: test-wasmer-sandbox

minor fix
  frame/session/src/lib.rs
Due: none

Fix outdated assumption in a comment
  client/network/src/protocol/sync/extra_requests.rs
Due: none

Compile fixes
  Cargo.lock
  primitives/trie/src/cache.rs
  primitives/trie/src/lib.rs
  primitives/trie/src/node_codec.rs
Due: none

Removed a test optimization that is no more relevant
  client/network/test/src/lib.rs
Due: none

prevent duplicate justification notifications
  client/beefy/rpc/src/lib.rs
  client/beefy/src/notification.rs
  client/beefy/src/worker.rs
Due: none

minor fix
  client/beefy/rpc/src/lib.rs
Due: none

clean up
  client/beefy/rpc/src/lib.rs
Due: none

fix failing tests
  client/beefy/rpc/src/lib.rs
Due: none

add comments to test
  client/beefy/rpc/src/lib.rs
Due: none

fix typo
  client/beefy/rpc/src/lib.rs
Due: none

Add feature: `no-metadata-doc` which removes doc from metadata and `full-metadata` which build metadata with all doc (#10493)
  .gitlab-ci.yml
  frame/support/Cargo.toml
  frame/support/procedural/Cargo.toml
  frame/support/procedural/src/pallet/expand/call.rs
  frame/support/procedural/src/pallet/expand/constants.rs
  frame/support/procedural/src/pallet/expand/error.rs
  frame/support/procedural/src/pallet/expand/event.rs
  frame/support/procedural/src/pallet/expand/storage.rs
  frame/support/src/storage/types/counted_map.rs
  frame/support/src/storage/types/double_map.rs
  frame/support/src/storage/types/map.rs
  frame/support/src/storage/types/nmap.rs
  frame/support/src/storage/types/value.rs
  frame/support/test/Cargo.toml
  frame/support/test/tests/pallet.rs
  frame/support/test/tests/pallet_compatibility.rs
  frame/support/test/tests/pallet_compatibility_instance.rs
Due: test-prometheus-alerting-rules, deploy-prometheus-alerting-rules

Update migration to just take a set of accounts
  frame/elections-phragmen/src/migrations/v5.rs
Due: none

address audit
  Cargo.lock
  frame/whitelist/Cargo.toml
  frame/whitelist/src/lib.rs
Due: none

Migration for over locked accounts in phgragmen elections (#10649)
  frame/elections-phragmen/src/migrations/mod.rs
  frame/elections-phragmen/src/migrations/v5.rs
Due: none

MvP slashing code
  frame/pools/src/lib.rs
  frame/staking/src/lib.rs
  frame/staking/src/pallet/impls.rs
  frame/staking/src/pallet/mod.rs
  frame/staking/src/slashing.rs
  primitives/staking/src/lib.rs
Due: none

Integrity test
  frame/pools/src/lib.rs
Due: none

remove useless option long name
  utils/frame/try-runtime/cli/src/lib.rs
Due: none

bench/cli: extend --extrinsic name filtering (#10677)
  utils/frame/benchmarking-cli/src/command.rs
Due: none

Fixes mutability
  client/executor/common/src/wasmer_backend.rs
Due: test-wasmer-sandbox

Rename seal_call_code to seal_delegate_call
  frame/contracts/fixtures/delegate_call.wat
  frame/contracts/fixtures/delegate_call_lib.wat
  frame/contracts/src/benchmarking/mod.rs
  frame/contracts/src/exec.rs
  frame/contracts/src/schedule.rs
  frame/contracts/src/tests.rs
  frame/contracts/src/wasm/mod.rs
  frame/contracts/src/wasm/runtime.rs
  frame/contracts/src/weights.rs
Due: test-wasmer-sandbox

Split peer slots between full and light nodes
  client/cli/src/params/network_params.rs
  client/network/src/config.rs
  client/network/src/protocol.rs
  client/network/src/protocol/sync.rs
  client/service/src/builder.rs
Due: none

Pass value unchanged into lib contract
  frame/contracts/src/exec.rs
Due: test-wasmer-sandbox

Rustfmt
  client/network/src/protocol.rs
Due: none

Last finalized block lookup not required anymore
  client/service/src/lib.rs
Due: none

Address @athei's comments
  frame/contracts/fixtures/delegate_call.wat
  frame/contracts/fixtures/delegate_call_lib.wat
  frame/contracts/src/benchmarking/mod.rs
  frame/contracts/src/exec.rs
  frame/contracts/src/tests.rs
  frame/contracts/src/wasm/runtime.rs
Due: test-wasmer-sandbox

Do not pass CallFlags::ALLOWS_REENTRY for delegate_call
  frame/contracts/src/lib.rs
  frame/contracts/src/wasm/runtime.rs
Due: test-wasmer-sandbox

Update comment for seal_delegate_call and CallFlags
  frame/contracts/src/wasm/runtime.rs
Due: test-wasmer-sandbox

Oops, accidentally removed a comma
  client/cli/src/params/network_params.rs
Due: none

Docs
  frame/balances/src/lib.rs
Due: none

Path conditions:
  test-prometheus-alerting-rules: any of: .gitlab-ci.yml, .maintain/monitoring/**/*
  test-wasmer-sandbox: any of: client/executor/**/*, frame/contracts/**/*, primitives/sandbox/**/*
  deploy-prometheus-alerting-rules: any of: .gitlab-ci.yml, .maintain/monitoring/**/*
