Repository paritytech/substrate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-prometheus-alerting-rules, test-wasmer-sandbox, deploy-prometheus-alerting-rules

test-prometheus-alerting-rules:
  retry:
    max: 2
    when:
    - runner_system_failure
    - unknown_failure
    - api_failure
  interruptible: true
  tags:
  - kubernetes-parity-build
  stage: check
  image: paritytech/tools:latest
  script:
  - promtool check rules .maintain/monitoring/alerting-rules/alerting-rules.yaml
  ...

test-wasmer-sandbox:
  image: ${CI_IMAGE}
  before_script:
  - - rustup show
    - cargo --version
    - rustup +nightly show
    - cargo +nightly --version
    - sccache -s
  retry:
    max: 2
    when:
    - runner_system_failure
    - unknown_failure
    - api_failure
  interruptible: true
  tags:
  - linux-docker
  stage: test
  variables:
  ...

deploy-prometheus-alerting-rules:
  stage: deploy
  needs:
  - job: test-prometheus-alerting-rules
    artifacts: false
  allow_failure: true
  trigger:
    project: parity/infrastructure/cloud-infra
  variables:
    SUBSTRATE_CI_COMMIT_NAME: ${CI_COMMIT_REF_NAME}
    SUBSTRATE_CI_COMMIT_REF: ${CI_COMMIT_SHORT_SHA}
  ...

node-template README persistent db
  bin/node-template/README.md
Due: none

Make it compile
  client/allocator/src/freeing_bump.rs
  client/executor/runtime-test/src/lib.rs
  client/executor/src/integration_tests/mod.rs
  client/executor/src/lib.rs
  client/executor/wasmi/src/lib.rs
  client/executor/wasmtime/src/host.rs
  client/executor/wasmtime/src/imports.rs
  client/executor/wasmtime/src/instance_wrapper.rs
  client/executor/wasmtime/src/runtime.rs
Due: test-wasmer-sandbox

Preserve caller context
  frame/contracts/src/exec.rs
  frame/contracts/src/wasm/mod.rs
  frame/contracts/src/wasm/runtime.rs
Due: test-wasmer-sandbox

Add beefy-gadget-rpc tests (#10555)
  Cargo.lock
  client/beefy/rpc/Cargo.toml
  client/beefy/rpc/src/lib.rs
Due: none

Test preserve caller context
  frame/contracts/src/exec.rs
  frame/contracts/src/wasm/mod.rs
  frame/contracts/src/wasm/runtime.rs
Due: test-wasmer-sandbox

make check-dependent-* only be executed in PRs (#10545)
  .gitlab-ci.yml
Due: test-prometheus-alerting-rules, deploy-prometheus-alerting-rules

Moves `WasmerBackend` to the impl
  client/executor/common/src/sandbox.rs
  client/executor/common/src/wasmer_backend.rs
  client/executor/common/src/wasmi_backend.rs
Due: test-wasmer-sandbox

Fast sync fixes
  client/consensus/babe/src/lib.rs
  client/db/src/lib.rs
  client/service/src/client/client.rs
  client/state-db/src/lib.rs
  client/state-db/src/noncanonical.rs
  primitives/blockchain/src/header_metadata.rs
Due: none

Fix gap blocks validation
  client/network/src/protocol/sync.rs
Due: none

Reformat the source
  client/executor/common/src/lib.rs
  client/executor/common/src/sandbox.rs
  client/executor/common/src/wasmer_backend.rs
  client/executor/common/src/wasmi_backend.rs
Due: test-wasmer-sandbox

Moves wasmer MemoryWrapper
  client/executor/common/src/sandbox.rs
  client/executor/common/src/util.rs
  client/executor/common/src/wasmer_backend.rs
Due: test-wasmer-sandbox

Reformats the source
  client/executor/common/src/sandbox.rs
  client/executor/common/src/wasmer_backend.rs
Due: test-wasmer-sandbox

Slightly easier for humans to parse
  frame/nicks/src/lib.rs
Due: none

cargo fmt
  frame/nicks/src/lib.rs
Due: none

Use the simpler format for construct_runtime.
  frame/nicks/src/lib.rs
Due: none

fmt
  frame/system/src/lib.rs
Due: none

add simple test
  frame/system/src/tests.rs
Due: none

Tweak to pallet-nicks (#10565)
  frame/nicks/src/lib.rs
Due: none

Fix Places where AccountId Uses Default (#10556)
  frame/system/src/lib.rs
  frame/system/src/tests.rs
Due: none

beefy: add dummy latest_finalized() RPC
  client/beefy/rpc/src/lib.rs
  client/beefy/src/notification.rs
Due: none

beefy: rpc latest_best_beefy() using shared mem
  client/beefy/rpc/Cargo.toml
  client/beefy/rpc/src/lib.rs
  client/beefy/src/lib.rs
  client/beefy/src/worker.rs
Due: none

beefy: rpc populate latest_best_beefy()
  Cargo.lock
  client/beefy/rpc/src/lib.rs
  client/beefy/src/worker.rs
Due: none

Expose TX nonce in VerApi
  client/basic-authorship-ver/src/basic_authorship.rs
  client/basic-authorship-ver/src/lib.rs
  client/block-builder-ver/src/lib.rs
  primitives/runtime/src/generic/header.rs
  primitives/runtime/src/generic/unchecked_extrinsic.rs
  primitives/runtime/src/traits.rs
  primitives/shuffler/src/lib.rs
  primitives/ver-api/src/lib.rs
  test-utils/runtime/src/lib.rs
Due: none

beefy: rpc handle readiness
  Cargo.lock
  client/beefy/rpc/Cargo.toml
  client/beefy/rpc/src/lib.rs
Due: none

Use single api instance for applying previous block txs and incomming txs validation
  client/basic-authorship-ver/src/basic_authorship.rs
  client/block-builder-ver/src/lib.rs
Due: none

beefy: best block over channel - wip
  Cargo.lock
  client/beefy/rpc/Cargo.toml
  client/beefy/rpc/src/lib.rs
  client/beefy/src/lib.rs
  client/beefy/src/worker.rs
Due: none

beefy: make notification channels payload-agnostic
  client/beefy/rpc/src/lib.rs
  client/beefy/rpc/src/notification.rs
  client/beefy/src/lib.rs
  client/beefy/src/notification.rs
  client/beefy/src/worker.rs
Due: none

beefy: use notification mechanism instead of custom channel
  client/beefy/rpc/src/lib.rs
  client/beefy/src/lib.rs
  client/beefy/src/notification.rs
  client/beefy/src/worker.rs
Due: none

beefy: add tracing key to notif channels
  client/beefy/rpc/src/lib.rs
  client/beefy/src/lib.rs
  client/beefy/src/notification.rs
  client/beefy/src/worker.rs
Due: none

sc-utils: add notification channel - wip
  client/beefy/rpc/src/lib.rs
  client/beefy/src/notification.rs
  client/beefy/src/worker.rs
  client/utils/src/lib.rs
  client/utils/src/notification.rs
Due: none

beefy: use sc-utils generic notification channel
  Cargo.lock
  client/beefy/src/notification.rs
  client/utils/Cargo.toml
  client/utils/src/notification.rs
Due: none

grandpa: use sc-utils generic notification channel
  client/finality-grandpa/src/notification.rs
  client/utils/src/notification.rs
Due: none

node-template README persistent db (#10558)
  bin/node-template/README.md
Due: none

Remove transaction-pool `test-helpers` feature
  Cargo.lock
  client/transaction-pool/Cargo.toml
  client/transaction-pool/src/graph/pool.rs
  client/transaction-pool/src/graph/validated_pool.rs
  client/transaction-pool/src/lib.rs
  client/transaction-pool/src/revalidation.rs
  client/transaction-pool/src/tests.rs
  client/transaction-pool/tests/pool.rs
  client/transaction-pool/tests/revalidation.rs
  test-utils/runtime/transaction-pool/Cargo.toml
  test-utils/runtime/transaction-pool/src/lib.rs
Due: none

Update client/cli/src/arg_enums.rs
  client/cli/src/arg_enums.rs
Due: none

Update bin/node/inspect/src/lib.rs
  bin/node/inspect/src/lib.rs
Due: none

Update primitives/keystore/src/testing.rs
  primitives/keystore/src/testing.rs
Due: none

Update frame/elections/src/lib.rs
  frame/elections/src/lib.rs
Due: none

Update primitives/npos-elections/fuzzer/src/reduce.rs
  primitives/npos-elections/fuzzer/src/reduce.rs
Due: none

Path conditions:
  test-prometheus-alerting-rules: any of: .gitlab-ci.yml, .maintain/monitoring/**/*
  test-wasmer-sandbox: any of: client/executor/**/*, frame/contracts/**/*, primitives/sandbox/**/*
  deploy-prometheus-alerting-rules: any of: .gitlab-ci.yml, .maintain/monitoring/**/*
