Repository paritytech/substrate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-prometheus-alerting-rules, test-wasmer-sandbox, deploy-prometheus-alerting-rules

test-prometheus-alerting-rules:
  retry:
    max: 2
    when:
    - runner_system_failure
    - unknown_failure
    - api_failure
  interruptible: true
  tags:
  - kubernetes-parity-build
  stage: check
  image: paritytech/tools:latest
  script:
  - promtool check rules .maintain/monitoring/alerting-rules/alerting-rules.yaml
  ...

test-wasmer-sandbox:
  image: ${CI_IMAGE}
  before_script:
  - - rustup show
    - cargo --version
    - rustup +nightly show
    - cargo +nightly --version
    - sccache -s
  retry:
    max: 2
    when:
    - runner_system_failure
    - unknown_failure
    - api_failure
  interruptible: true
  tags:
  - linux-docker
  stage: test
  variables:
  ...

deploy-prometheus-alerting-rules:
  stage: deploy
  needs:
  - job: test-prometheus-alerting-rules
    artifacts: false
  allow_failure: true
  trigger:
    project: parity/infrastructure/cloud-infra
  variables:
    SUBSTRATE_CI_COMMIT_NAME: ${CI_COMMIT_REF_NAME}
    SUBSTRATE_CI_COMMIT_REF: ${CI_COMMIT_SHORT_SHA}
  ...

wasm-builder: Enable all features when running `cargo metadata`
  utils/wasm-builder/src/wasm_project.rs
Due: none

wasm-builder: Enable all features when running `cargo metadata` (#10716)
  utils/wasm-builder/src/wasm_project.rs
Due: none

Only support state version v0 from the runtime
  frame/benchmarking/src/lib.rs
  frame/executive/src/lib.rs
  frame/support/src/lib.rs
  frame/support/src/storage/child.rs
  frame/system/src/lib.rs
  frame/transaction-storage/src/lib.rs
  primitives/io/src/lib.rs
  primitives/runtime/src/traits.rs
  primitives/transaction-storage-proof/src/lib.rs
  test-utils/runtime/src/system.rs
Due: none

promote public proposal call created
  bin/node/runtime/src/lib.rs
  frame/democracy/src/benchmarking.rs
  frame/democracy/src/lib.rs
  frame/democracy/src/tests.rs
  frame/democracy/src/tests/public_proposals.rs
  frame/democracy/src/weights.rs
Due: none

update jsonrpsee
  Cargo.lock
  bin/node-template/node/Cargo.toml
  bin/node/cli/Cargo.toml
  bin/node/rpc/Cargo.toml
  client/beefy/rpc/Cargo.toml
  client/beefy/rpc/src/lib.rs
  client/consensus/babe/rpc/Cargo.toml
  client/consensus/manual-seal/Cargo.toml
  client/finality-grandpa/rpc/Cargo.toml
  client/finality-grandpa/rpc/src/lib.rs
  client/rpc-api/Cargo.toml
  client/rpc-servers/Cargo.toml
  client/rpc/Cargo.toml
  client/rpc/src/author/mod.rs
  client/rpc/src/chain/chain_full.rs
  client/rpc/src/chain/tests.rs
  client/rpc/src/state/state_full.rs
  client/rpc/src/state/tests.rs
  client/service/Cargo.toml
  client/sync-state-rpc/Cargo.toml
  frame/contracts/rpc/Cargo.toml
  frame/merkle-mountain-range/rpc/Cargo.toml
  frame/transaction-payment/rpc/Cargo.toml
  test-utils/test-runner/Cargo.toml
  utils/frame/remote-externalities/Cargo.toml
  utils/frame/rpc/support/Cargo.toml
  utils/frame/rpc/system/Cargo.toml
  utils/frame/try-runtime/cli/Cargo.toml
Due: test-wasmer-sandbox

fix nits
  Cargo.lock
  bin/node/cli/Cargo.toml
  client/rpc-servers/src/lib.rs
  client/sync-state-rpc/src/lib.rs
  utils/frame/rpc/support/src/lib.rs
Due: none

note truncating, add fallible try_into
  primitives/runtime/src/traits.rs
Due: none

fmt
  primitives/runtime/src/traits.rs
Due: none

migrate all to `truncating`
  frame/bounties/src/lib.rs
  frame/child-bounties/src/lib.rs
  frame/lottery/src/lib.rs
  frame/society/src/lib.rs
  frame/tips/src/lib.rs
  frame/treasury/src/lib.rs
Due: none

typo
  frame/child-bounties/src/lib.rs
Due: none

uno mas
  utils/frame/frame-utilities-cli/src/pallet_id.rs
Due: none

Fix #10688 being misimplemented
  client/network/src/protocol.rs
Due: none

Changing the node package to be under @substrate namespace
  .gitlab-ci.yml
  .maintain/rustdocs-release.sh
Due: test-prometheus-alerting-rules, deploy-prometheus-alerting-rules

Apply suggestions from code review
  frame/contracts/src/exec.rs
  frame/contracts/src/storage.rs
Due: test-wasmer-sandbox

Fix test to call same function twice
  frame/contracts/src/exec.rs
Due: test-wasmer-sandbox

Update weights generated by benchmark
  frame/contracts/src/weights.rs
Due: test-wasmer-sandbox

Fix #10688 being misimplemented (#10721)
  client/network/src/protocol.rs
Due: none

Replaced u32::MAX by SENTINEL const
  frame/contracts/src/benchmarking/mod.rs
  frame/contracts/src/chain_extension.rs
  frame/contracts/src/lib.rs
  frame/contracts/src/storage.rs
  frame/contracts/src/wasm/mod.rs
  frame/contracts/src/wasm/runtime.rs
Due: test-wasmer-sandbox

Address the review notes
  client/api/src/notifications.rs
  client/api/src/notifications/impl_traits.rs
  client/api/src/notifications/keys.rs
  client/api/src/notifications/registry.rs
  client/api/src/notifications/tests.rs
  client/utils/src/id_sequence.rs
  client/utils/src/notification.rs
  client/utils/src/notification/impl_traits.rs
  client/utils/src/pubsub.rs
  client/utils/src/pubsub/channels.rs
Due: none

cargo fmt
  client/api/src/notifications.rs
  client/api/src/notifications/registry.rs
  client/utils/src/notification.rs
  client/utils/src/pubsub.rs
Due: none

update sp-runtime version
  frame/conviction-voting/Cargo.toml
  frame/referenda/Cargo.toml
Due: none

fix formatting
  client/basic-authorship-ver/src/basic_authorship.rs
  client/block-builder-ver/src/lib.rs
  client/consensus/babe/src/verification.rs
  client/consensus/slots/src/lib.rs
  frame/executive/src/lib.rs
  frame/system/src/lib.rs
  primitives/shuffler/src/lib.rs
Due: none

Rustfmt and clippy fix
  client/executor/benches/bench.rs
  client/executor/wasmtime/src/imports.rs
Due: test-wasmer-sandbox

Fix executor benchmarks' compilation without `wasmtime` being enabled
  client/executor/benches/bench.rs
Due: test-wasmer-sandbox

Changing the node package to be under @substrate namespace (#10722)
  .gitlab-ci.yml
  .maintain/rustdocs-release.sh
Due: test-prometheus-alerting-rules, deploy-prometheus-alerting-rules

free maxencodedlen
  frame/conviction-voting/src/conviction.rs
  frame/conviction-voting/src/lib.rs
  frame/conviction-voting/src/types.rs
  frame/conviction-voting/src/vote.rs
Due: none

more maxencodedlen
  frame/conviction-voting/src/lib.rs
  frame/conviction-voting/src/vote.rs
Due: none

Describe the behaviour of pubsub registry
  client/utils/src/pubsub.rs
Due: none

more MEL
  frame/conviction-voting/src/lib.rs
  frame/referenda/src/lib.rs
  frame/referenda/src/mock.rs
  frame/referenda/src/types.rs
Due: none

Doc-comments for module `sc-utils::pubsub`
  client/utils/src/pubsub.rs
Due: none

Optimized weights (#10692)
  Cargo.toml
  frame/assets/src/weights.rs
  frame/bags-list/src/weights.rs
  frame/balances/src/weights.rs
  frame/benchmarking/src/weights.rs
  frame/bounties/src/weights.rs
  frame/child-bounties/src/weights.rs
  frame/collective/src/tests.rs
  frame/collective/src/weights.rs
  frame/contracts/src/weights.rs
  frame/democracy/src/weights.rs
  frame/election-provider-multi-phase/src/weights.rs
  frame/elections-phragmen/src/weights.rs
  frame/gilt/src/weights.rs
  frame/identity/src/weights.rs
  frame/im-online/src/weights.rs
  frame/indices/src/weights.rs
  frame/lottery/src/weights.rs
  frame/membership/src/weights.rs
  frame/multisig/src/weights.rs
  frame/preimage/src/weights.rs
  frame/proxy/src/weights.rs
  frame/scheduler/src/weights.rs
  frame/session/src/weights.rs
  frame/staking/src/weights.rs
  frame/system/src/weights.rs
  frame/timestamp/src/weights.rs
  frame/tips/src/weights.rs
  frame/transaction-storage/src/weights.rs
  frame/treasury/src/weights.rs
  frame/uniques/src/weights.rs
  frame/utility/src/weights.rs
  frame/vesting/src/weights.rs
Due: test-wasmer-sandbox

improve rounds selection calculation
  client/beefy/src/lib.rs
  client/beefy/src/worker.rs
  primitives/beefy/src/lib.rs
Due: none

ORG keys should be used
  .github/workflows/build-and-push-docker-image.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/publish-image-to-dockerhub.yml
  .github/workflows/run-tests-on-new-version-of-ddc-sc.yml
  .github/workflows/run-tests-on-pull-request.yml
Due: none

update on_initialized weight calculation
  frame/merkle-mountain-range/src/lib.rs
Due: none

minor fix
  frame/merkle-mountain-range/src/default_weights.rs
  frame/merkle-mountain-range/src/lib.rs
Due: none

Fix seal_contains_storage benchmark
  frame/contracts/src/benchmarking/mod.rs
Due: test-wasmer-sandbox

updated network parameter with sync oracle trait in beefy params
  client/beefy/src/lib.rs
  client/beefy/src/worker.rs
Due: none

updated test case
  client/beefy/rpc/src/lib.rs
Due: none

Proposal: Defensive trait for infallible frame operations (#10626)
  frame/balances/src/lib.rs
  frame/democracy/src/lib.rs
  frame/election-provider-multi-phase/src/signed.rs
  frame/election-provider-support/src/lib.rs
  frame/elections-phragmen/src/lib.rs
  frame/gilt/src/lib.rs
  frame/identity/src/benchmarking.rs
  frame/proxy/src/benchmarking.rs
  frame/staking/src/pallet/impls.rs
  frame/support/src/traits.rs
  frame/support/src/traits/misc.rs
Due: none

Path conditions:
  test-prometheus-alerting-rules: any of: .gitlab-ci.yml, .maintain/monitoring/**/*
  test-wasmer-sandbox: any of: client/executor/**/*, frame/contracts/**/*, primitives/sandbox/**/*
  deploy-prometheus-alerting-rules: any of: .gitlab-ci.yml, .maintain/monitoring/**/*
