Repository paritytech/substrate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-prometheus-alerting-rules, test-wasmer-sandbox, deploy-prometheus-alerting-rules

test-prometheus-alerting-rules:
  retry:
    max: 2
    when:
    - runner_system_failure
    - unknown_failure
    - api_failure
  interruptible: true
  tags:
  - kubernetes-parity-build
  stage: check
  image: paritytech/tools:latest
  script:
  - promtool check rules .maintain/monitoring/alerting-rules/alerting-rules.yaml
  ...

test-wasmer-sandbox:
  image: ${CI_IMAGE}
  before_script:
  - - rustup show
    - cargo --version
    - rustup +nightly show
    - cargo +nightly --version
    - sccache -s
  retry:
    max: 2
    when:
    - runner_system_failure
    - unknown_failure
    - api_failure
  interruptible: true
  tags:
  - linux-docker
  stage: test
  variables:
  ...

deploy-prometheus-alerting-rules:
  stage: deploy
  needs:
  - job: test-prometheus-alerting-rules
    artifacts: false
  allow_failure: true
  trigger:
    project: parity/infrastructure/cloud-infra
  variables:
    SUBSTRATE_CI_COMMIT_NAME: ${CI_COMMIT_REF_NAME}
    SUBSTRATE_CI_COMMIT_REF: ${CI_COMMIT_SHORT_SHA}
  ...

Remove frame_support argument to construct_runtime_parts
  frame/support/procedural/src/construct_runtime/mod.rs
  frame/support/procedural/src/pallet/expand/construct_runtime_parts.rs
Due: none

Make use of tt-call to simplify intermediate expansions
  Cargo.lock
  frame/support/Cargo.toml
  frame/support/procedural/src/construct_runtime/mod.rs
  frame/support/procedural/src/match_and_insert.rs
  frame/support/procedural/src/pallet/expand/mod.rs
  frame/support/procedural/src/pallet/expand/tt_default_parts.rs
  frame/support/src/lib.rs
  frame/support/test/tests/construct_runtime_ui/old_unsupported_pallet_decl.stderr
Due: none

cargo fmt
  frame/support/procedural/src/pallet/expand/mod.rs
Due: none

Update match_and_insert documentation
  frame/support/procedural/src/lib.rs
Due: none

Add new line to readme
  README.md
Due: none

sp-debug-derive: Add `force-debug` feature
  primitives/debug-derive/Cargo.toml
  primitives/debug-derive/src/impls.rs
Due: none

Fixes
  primitives/core/Cargo.toml
  primitives/storage/Cargo.toml
Due: none

Update frame/example/src/lib.rs
  frame/example/src/lib.rs
Due: none

Update primitives/core/src/crypto.rs
  primitives/core/src/crypto.rs
Due: none

Allow FRAMEv1 macros to omit Event generics
  Cargo.lock
  frame/support/Cargo.toml
  frame/support/procedural/src/construct_runtime/expand/metadata.rs
  frame/support/procedural/src/lib.rs
  frame/support/procedural/src/pallet/parse/mod.rs
  frame/support/procedural/src/tt_macro.rs
  frame/support/src/dispatch.rs
  frame/support/src/event.rs
  frame/support/src/lib.rs
  frame/support/test/tests/construct_runtime.rs
  frame/support/test/tests/instance.rs
  frame/support/test/tests/issue2219.rs
  frame/support/test/tests/pallet.rs
  frame/support/test/tests/pallet_compatibility.rs
  frame/support/test/tests/pallet_compatibility_instance.rs
  frame/support/test/tests/pallet_instance.rs
Due: none

cargo fmt
  frame/support/procedural/src/construct_runtime/expand/event.rs
  frame/support/procedural/src/construct_runtime/expand/metadata.rs
  frame/support/procedural/src/tt_macro.rs
Due: none

Add quick simnet tests to .gitlab-ci.yml (#9959)
  .gitlab-ci.yml
  README.md
Due: test-prometheus-alerting-rules, deploy-prometheus-alerting-rules

sc-offchain: Fix flaky http tests
  client/offchain/src/api/http.rs
Due: none

Add Deposit and Withdraw Events to Balances Pallet (#9425)
  bin/node/bench/src/import.rs
  bin/node/executor/tests/basic.rs
  bin/node/runtime/src/lib.rs
  frame/balances/src/lib.rs
  frame/balances/src/tests.rs
  frame/balances/src/tests_local.rs
  frame/balances/src/tests_reentrancy.rs
  frame/contracts/src/tests.rs
  frame/offences/benchmarking/src/lib.rs
Due: test-wasmer-sandbox

Update tests
  frame/support/test/tests/construct_runtime_ui/missing_event_generic_on_module_with_instance.rs
  frame/support/test/tests/construct_runtime_ui/missing_event_generic_on_module_with_instance.stderr
  frame/support/test/tests/pallet_with_name_trait_is_valid.rs
Due: none

PoC resource limiting
  Cargo.lock
  bin/node-template/node/Cargo.toml
  bin/node/cli/Cargo.toml
  bin/node/rpc-client/Cargo.toml
  bin/node/rpc/Cargo.toml
  client/beefy/rpc/Cargo.toml
  client/beefy/rpc/src/lib.rs
  client/consensus/babe/rpc/Cargo.toml
  client/consensus/manual-seal/Cargo.toml
  client/finality-grandpa/rpc/Cargo.toml
  client/finality-grandpa/rpc/src/lib.rs
  client/rpc-api/Cargo.toml
  client/rpc-api/src/author/mod.rs
  client/rpc-api/src/system/mod.rs
  client/rpc-servers/Cargo.toml
  client/rpc-servers/src/lib.rs
  client/rpc/Cargo.toml
  client/service/Cargo.toml
  client/sync-state-rpc/Cargo.toml
  frame/contracts/rpc/Cargo.toml
  frame/merkle-mountain-range/rpc/Cargo.toml
  frame/transaction-payment/rpc/Cargo.toml
  test-utils/test-runner/Cargo.toml
  utils/frame/remote-externalities/Cargo.toml
  utils/frame/rpc/support/Cargo.toml
  utils/frame/rpc/system/Cargo.toml
Due: test-wasmer-sandbox

sc-executor-wasmtime: upgrade wasmtime to 0.30.0
  Cargo.lock
  client/executor/src/wasm_runtime.rs
  client/executor/wasmtime/Cargo.toml
  client/executor/wasmtime/src/imports.rs
  client/executor/wasmtime/src/instance_wrapper.rs
  client/executor/wasmtime/src/runtime.rs
  client/executor/wasmtime/src/tests.rs
Due: test-wasmer-sandbox

More lenient StashOf finder
  frame/staking/src/lib.rs
Due: none

sc-offchain: Fix flaky http tests (#10000)
  client/offchain/src/api/http.rs
Due: none

Slightly safer version of the change
  frame/session/src/lib.rs
Due: none

Slightly safer version of the change
  frame/staking/src/lib.rs
Due: none

sc-executor-wasmtime: introduce parallel_compilation flag
  client/executor/src/wasm_runtime.rs
  client/executor/wasmtime/src/runtime.rs
  client/executor/wasmtime/src/tests.rs
Due: test-wasmer-sandbox

typos
  client/executor/wasmtime/src/runtime.rs
Due: test-wasmer-sandbox

add TypeInfo for DispatchTime (#9987)
  frame/support/src/traits/schedule.rs
Due: none

node-template: Do not provide benchmarking host functions by default
  bin/node-template/node/src/service.rs
Due: none

move to https://docs.substrate.io/
  bin/node-template/README.md
  bin/node-template/docs/rust-setup.md
  bin/node-template/pallets/template/src/lib.rs
  bin/node-template/runtime/src/lib.rs
Due: none

cargo to https://docs.substrate.io/ homepage
  bin/node-template/node/Cargo.toml
  bin/node-template/pallets/template/Cargo.toml
  bin/node-template/runtime/Cargo.toml
Due: none

fix links in non-cargo files, errors in replace
  client/rpc-api/src/state/mod.rs
  frame/contracts/README.md
  frame/contracts/rpc/Cargo.toml
  frame/example/src/benchmarking.rs
  frame/example/src/lib.rs
  frame/support/procedural/src/pallet/expand/error.rs
  frame/support/procedural/src/pallet/expand/event.rs
  frame/support/procedural/src/pallet/expand/genesis_config.rs
  frame/support/src/dispatch.rs
  frame/support/src/storage/bounded_vec.rs
  frame/support/src/storage/weak_bounded_vec.rs
  frame/support/src/traits/misc.rs
  frame/system/rpc/runtime-api/Cargo.toml
  frame/timestamp/Cargo.toml
  frame/tips/Cargo.toml
  frame/transaction-payment/rpc/Cargo.toml
  frame/transaction-payment/rpc/runtime-api/Cargo.toml
  frame/transaction-storage/Cargo.toml
  frame/try-runtime/Cargo.toml
  frame/utility/Cargo.toml
  frame/vesting/Cargo.toml
  primitives/api/test/Cargo.toml
  primitives/arithmetic/Cargo.toml
  primitives/arithmetic/fuzzer/Cargo.toml
  primitives/block-builder/Cargo.toml
  primitives/consensus/babe/Cargo.toml
  primitives/consensus/common/Cargo.toml
  primitives/consensus/slots/Cargo.toml
  primitives/consensus/vrf/Cargo.toml
  primitives/core/Cargo.toml
  primitives/database/Cargo.toml
  primitives/runtime-interface/test/Cargo.toml
  primitives/test-primitives/Cargo.toml
  primitives/transaction-storage-proof/Cargo.toml
  primitives/wasm-interface/Cargo.toml
  test-utils/derive/Cargo.toml
  test-utils/runtime/client/Cargo.toml
  utils/build-script-utils/Cargo.toml
  utils/fork-tree/Cargo.toml
  utils/frame/try-runtime/cli/src/lib.rs
Due: test-wasmer-sandbox

Reset cursor to 0 when no matching patterns are found
  frame/support/procedural/src/match_and_insert.rs
Due: none

Reorder struct fields on MatchAndInsertDef
  frame/support/procedural/src/match_and_insert.rs
Due: none

pow: add Version for quick-check of metadata state and refactor lock handling (#9698)
  client/consensus/pow/src/lib.rs
  client/consensus/pow/src/worker.rs
Due: none

node-template: Do not provide benchmarking host functions by default (#10005)
  bin/node-template/node/src/service.rs
Due: none

Switch to using ss58-registry crate (#9755)
  Cargo.lock
  client/cli/src/commands/utils.rs
  client/cli/src/commands/vanity.rs
  primitives/core/Cargo.toml
  primitives/core/src/crypto.rs
  primitives/core/src/ecdsa.rs
  utils/frame/frame-utilities-cli/src/pallet_id.rs
Due: none

Update UI test expectations
  frame/support/test/tests/pallet_ui/call_argument_invalid_bound_2.stderr
Due: none

hint what to do if you didn't use bot merge
  docs/CONTRIBUTING.adoc
Due: none

Path conditions:
  test-prometheus-alerting-rules: any of: .gitlab-ci.yml, .maintain/monitoring/**/*
  test-wasmer-sandbox: any of: client/executor/**/*, frame/contracts/**/*, primitives/sandbox/**/*
  deploy-prometheus-alerting-rules: any of: .gitlab-ci.yml, .maintain/monitoring/**/*
